Repository boostcampwm-2024/web13-YeokjeonNongbu, pull requests merged in 2024-12, with the labels that each got.

#138 [Be/feature] 체결 기능 리팩토링
  apps/backend/src/database/database.service.ts
  apps/backend/src/market/market.repository.ts
  apps/backend/src/market/market.service.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, bug, feat

#139 [Be/feature] 현재 진행중인 주문 조회 API 추가
  apps/backend/src/global/successhandler.ts
  apps/backend/src/order/decorator/getPendingOrders.decorator.ts
  apps/backend/src/order/decorator/getTransactions.decorator.ts
  apps/backend/src/order/dto/pendingOrder.dto.ts
  apps/backend/src/order/dto/response/getOrderResponse.dto.ts
  apps/backend/src/order/dto/response/getTransactionResponse.dto.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#140 [BE/feat] 일정 시간 단위로 차트 데이터를 생성하고 호출하는 API 구현
  apps/backend/src/app.module.ts
  apps/backend/src/chart/chart.controller.ts
  apps/backend/src/chart/chart.module.ts
  apps/backend/src/chart/chart.query.ts
  apps/backend/src/chart/chart.service.ts
  apps/backend/src/chart/model/chart.mongo.ts
  apps/backend/src/chart/model/chart.schema.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/mongo/mongo.service.ts
Labels: backend, feat

#142 [BE/feature] 보유 수량 웹소켓 전송 구현
  apps/backend/src/database/database.service.ts
  apps/backend/src/global/utils/jwtAuthGuard.ts
  apps/backend/src/websocket/websocket.gateway.ts
  apps/backend/src/websocket/websocket.module.ts
Labels: backend, feat

#143 [BE/fix] chartService export 추가
  apps/backend/src/chart/chart.module.ts
Labels: backend, feat

#144 [BE/fix] crops 데이터 수정
  apps/backend/src/chart/chart.service.ts
  apps/backend/src/websocket/websocket.gateway.ts
Labels: backend, feat

#145 [BE/fix] 웹소켓 차트 데이터 전송 수정
  apps/backend/src/chart/chart.module.ts
  apps/backend/src/chart/chart.service.ts
  apps/backend/src/websocket/websocket.gateway.ts
  apps/backend/src/websocket/websocket.module.ts
Labels: backend

#147 [Be/feature] 주문 취소 API 에러처리
  apps/backend/package.json
  apps/backend/src/global/successhandler.ts
  apps/backend/src/main.ts
  apps/backend/src/order/decorator/order.decorator.ts
  apps/backend/src/order/dto/baseOrder.dto.ts
  apps/backend/src/order/dto/cancelOrder.dto.ts
  apps/backend/src/order/dto/limitOrder.dto.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  pnpm-lock.yaml
Labels: backend, bug

#148 [BE/feature] 가격 변동에 따른 웹소켓 전송 구현
  apps/backend/src/order/orderBook.service.ts
  apps/backend/src/websocket/websocket.gateway.ts
Labels: backend, feat

#149 [Be/feature] 거래 체결 과정 DB 트랜잭션 적용
  apps/backend/src/order/dto/response/getOrderResponse.dto.ts
  apps/backend/src/order/matching.service.ts
Labels: backend, bug, feat

#150 [FE/feat] 작물 시장 기능 구현
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/components/CropMarket/Chart.tsx
  apps/frontend/src/components/CropMarket/CropSelector.tsx
  apps/frontend/src/components/CropMarket/OwnCrop.tsx
  apps/frontend/src/components/CropMarket/Pending.tsx
  apps/frontend/src/components/CropMarket/Trade.tsx
  apps/frontend/src/components/CropMarket/TradeSection.tsx
  apps/frontend/src/components/MyPage/CropList.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/services/AccountApi.tsx
  apps/frontend/src/services/Api.tsx
  apps/frontend/src/services/OrderApi.tsx
  apps/frontend/src/types/Crop.ts
  apps/frontend/src/types/Order.ts
  apps/frontend/vite.config.ts
Labels: frontend, feat

#151 [Be/feature] 지정가 매도 주문 로직 수정
  apps/backend/src/order/dto/response/getOrderResponse.dto.ts
  apps/backend/src/order/order.controller.ts
Labels: backend, bug

#152 [BE/fix] 알림 작성 시 작물명 한글로 보내도록 수정
  apps/backend/src/mail/mail.service.ts
Labels: backend, bug

#154 [Be/feature] 지정가 매도 오더북 로직 수정
  apps/backend/src/order/matching.service.ts
Labels: backend, bug

#155 [Be/feature] 대기 주문 수정 및 시장가 거래 가능 여부 검증 추가
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, bug

#156 [refactor] 시장가 거래 검증 응답 메시지 수정
  apps/backend/src/order/order.controller.ts
Labels: backend, bug

#157 [FE/feature] 작물시장 기능 및 UI 수정
  apps/backend/src/websocket/websocket.gateway.ts
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/components/CropMarket/OwnCrop.tsx
  apps/frontend/src/components/CropMarket/Pending.tsx
  apps/frontend/src/components/CropMarket/Trade.tsx
  apps/frontend/src/components/CropMarket/TradeSection.tsx
  apps/frontend/src/components/Intro/LoginModal.tsx
  apps/frontend/src/components/Intro/OauthLogin.tsx
  apps/frontend/src/components/Intro/SignUpModal.tsx
  apps/frontend/src/components/MyPage/Pagination.tsx
  apps/frontend/src/components/MyPage/TransactionTable.tsx
  apps/frontend/src/components/public/UserContext.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/services/Api.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/src/services/OrderApi.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/vite.config.ts
Labels: frontend, feat

#158 [BE/refactor] 웹소켓 성능 개선
  .Dockerignore
  apps/backend/src/chart/chart.service.ts
  apps/backend/src/websocket/websocket.gateway.ts
Labels: backend

#159 [BE/fix]차트 생성 오류 수정
  apps/backend/src/chart/chart.service.ts
Labels: backend, bug

#160 [BE/fix] 콘솔 로그 제거
  apps/backend/src/chart/chart.service.ts
Labels: backend, bug

#161 [BE/fix] 시간 단위 차트 생성 오류 해결
  apps/backend/src/chart/chart.service.ts
Labels: backend, bug

#162 [FE/feature] 소켓 연결전 로딩중 추가, 호가창 데이터 수정
  apps/frontend/src/assets/public/spin.gif
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/pages/CropMarket.tsx
Labels: frontend, feat

#163 [Docs] REAMDE 수정
  README.md
Labels: docs

#164 [BE/refactor] 거래 체결에 따른 가격 업데이트 로직 수정
  apps/backend/src/order/matching.service.ts
Labels: backend, bug

#165 [BE/feat] 이메일 체크 추가
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/emailCheck.dto.ts
  apps/backend/src/global/filter/errorExceptionFilter.ts
  apps/backend/src/global/successhandler.ts
Labels: backend, feat

#168 [FE/feat] 회원가입 이메일 체크 로직 추가
  apps/frontend/src/components/Intro/SignUpModal.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/src/services/LotteryApi.tsx
  apps/frontend/src/services/MailApi.tsx
  apps/frontend/src/services/RankApi.tsx
Labels: frontend, feat

#169 [BE/refactor] 주문 검증 로직 응답 형식 수정
  apps/backend/src/account/guards/hasSufficientCashGuard.ts
  apps/backend/src/account/guards/hasSufficientCropGuard.ts
Labels: backend, bug

#170 [FE/feat] 매매시 에러처리 로직 추가
  apps/frontend/src/services/OrderApi.tsx
Labels: frontend, feat

#171 [FE/feat] 작물 시장 페이지로 나누기
  .github/workflows/deploy.yml
  apps/frontend/src/App.tsx
  apps/frontend/src/components/public/Header.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Main.tsx
Labels: frontend, feat
