Repository boostcampwm-2024/web13-YeokjeonNongbu, pull requests merged in 2024-11, with the labels that each got.

#40 [FE/chore] fe 환경 설정
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/public/icon.png
  apps/frontend/public/vite.svg
  apps/frontend/src/App.css
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/intro/bu.png
  apps/frontend/src/assets/intro/intro.png
  apps/frontend/src/assets/intro/jeon.png
  apps/frontend/src/assets/intro/nong.png
  apps/frontend/src/assets/intro/start.png
  apps/frontend/src/assets/intro/yeok.png
  apps/frontend/src/assets/react.svg
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/constants/.gitkeep
  apps/frontend/src/hooks/.gitkeep
  apps/frontend/src/index.css
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/services/.gitkeep
  apps/frontend/src/styles/.gitkeep
  apps/frontend/src/utils/.gitkeep
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
Labels: setting

#41 [BE/feature] docker 배포 설정
  .github/workflows/deploy.yml
  .github/workflows/merge.yml
  Dockerfile
  apps/backend/.eslintrc.js
  apps/backend/pnpm-lock.yaml
  apps/backend/src/main.ts
  apps/frontend/README.md
  apps/frontend/package-lock.json
  apps/frontend/pnpm-lock.yaml
  apps/frontend/src/index.css
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: backend, feat

#43 [FE/feature] 인트로 페이지 UI 구성
  apps/backend/pnpm-lock.yaml
  apps/frontend/src/assets/header/alarm.png
  apps/frontend/src/assets/header/hamburgerBar.png
  apps/frontend/src/assets/header/home.png
  apps/frontend/src/assets/intro/bu.png
  apps/frontend/src/assets/intro/signIn.png
  apps/frontend/src/assets/intro/yeok.png
  apps/frontend/src/assets/lottery/giftBox.png
  apps/frontend/src/assets/lottery/lottery.png
  apps/frontend/src/assets/lottery/veggieBox.png
  apps/frontend/src/assets/main/cropMarket.png
  apps/frontend/src/assets/main/lottery.png
  apps/frontend/src/assets/main/myPage.png
  apps/frontend/src/assets/main/ranking.png
  apps/frontend/src/assets/myPage/Trophy.png
  apps/frontend/src/assets/myPage/money.png
  apps/frontend/src/assets/public/apple.png
  apps/frontend/src/assets/public/carrot.png
  apps/frontend/src/assets/public/coin.png
  apps/frontend/src/assets/public/grape.png
  apps/frontend/src/assets/public/grass.png
  apps/frontend/src/assets/public/logo.png
  apps/frontend/src/assets/public/mushroom.png
  apps/frontend/src/assets/public/step1.png
  apps/frontend/src/assets/public/step2.png
  apps/frontend/src/assets/public/step3.png
  apps/frontend/src/assets/public/step4.png
  apps/frontend/src/assets/public/watermelon.png
  apps/frontend/src/assets/ranking/first.png
  apps/frontend/src/assets/ranking/second.png
  apps/frontend/src/assets/ranking/third.png
  apps/frontend/src/components/IntroTitle.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/tailwind.config.js
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: frontend, UI

#44 [BE/feat] CI/CD 구축
  .github/workflows/deploy.yml
  .github/workflows/merge.yml
  apps/backend/pnpm-lock.yaml
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/tailwind.config.js
  package-lock.json
  pnpm-lock.yaml
Labels: backend, feat

#45 [FE/feature] 상단바 UI 구성
  apps/frontend/public/coin.png
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/public/grass.png
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/CloseIcon.tsx
  apps/frontend/src/components/Footer.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/tailwind.config.js
Labels: frontend, UI

#46 [FE/feature] 메인 페이지 UI 구성
  apps/frontend/public/step1.png
  apps/frontend/public/step2.png
  apps/frontend/public/step3.png
  apps/frontend/public/step4.png
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/Footer.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/IntroTitle.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/types/alarm.ts
  apps/frontend/src/types/index.ts
  apps/frontend/tailwind.config.js
Labels: frontend, UI

#49 [BE/feature] 회원 가입, 전역 필터 및 스웨거 설정
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.spec.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/signUp.dto.ts
  apps/backend/src/database/database.module.ts
  apps/backend/src/database/database.service.ts
  apps/backend/src/global/filter/errorExceptionFilter.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/main.ts
Labels: backend, feat

#50 [FE/feature] 로그인/회원가입 모달 UI
  apps/frontend/public/signIn.png
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/BackIcon.tsx
  apps/frontend/src/components/CloseIcon.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/SignUpModal.tsx
  apps/frontend/src/constants/.gitkeep
  apps/frontend/src/constants/modalConstants.ts
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/tailwind.config.js
Labels: frontend, UI, feat

#39 [BE/feature] SSE 알림 기능
  .github/workflows/merge.yml
  apps/backend/.eslintrc.js
  apps/backend/package.json
  apps/backend/pnpm-lock.yaml
  apps/backend/src/app.controller.spec.ts
  apps/backend/src/app.controller.ts
  apps/backend/src/app.module.ts
  apps/backend/src/app.service.ts
  apps/backend/src/dbpool/pool.ts
  apps/backend/src/mail/mail.controller.ts
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail.repository.ts
  apps/backend/src/mail/mail.service.ts
  apps/frontend/pnpm-lock.yaml
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: backend, feat

#51 [FE/feature] 랭킹 페이지 UI
  apps/frontend/public/first.png
  apps/frontend/public/lottery.png
  apps/frontend/public/second.png
  apps/frontend/public/third.png
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/SignUpModal.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/types/index.ts
  apps/frontend/src/types/rank.ts
  apps/frontend/tailwind.config.js
Labels: frontend, UI

#53 [BE/feature] 로그인 기능 구현
  .eslintrc.js
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/login.dto.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/redis/redis.module.ts
Labels: backend, feat

#52 [FE/feature] 복권 페이지 UI
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/lottery/giftBox.png
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/Footer.tsx
  apps/frontend/src/components/LotteryButtons.tsx
  apps/frontend/src/components/LotteryModal.tsx
  apps/frontend/src/components/LotterySvg.tsx
  apps/frontend/src/components/LotteryTicket.tsx
  apps/frontend/src/constants/lotteryConstants.ts
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/utils/useLotteryCanvas.ts
  apps/frontend/src/utils/useLotteryModal.ts
Labels: frontend, UI

#55 [BE/feature] JWT 구현
  .eslintignore
  .github/workflows/deploy.yml
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/login.dto.ts
  apps/backend/src/auth/dto/signUp.dto.ts
  apps/backend/src/global/utils/jwtAuthGuard.ts
  package.json
Labels: backend, feat

#56 [CO/FIX] husky 관련 git 설정 개선
  .eslintignore
  .gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#58 [BE/feature] google Oauth 구현
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/decorator/login.decorator.ts
  apps/backend/src/auth/decorator/signUp.decorator.ts
  apps/backend/src/auth/dto/googleLogin.dto.ts
  apps/backend/src/auth/dto/login.dto.ts
  apps/backend/src/auth/dto/signUp.dto.ts
  apps/backend/src/auth/strategies/google.strategy.ts
  pnpm-lock.yaml
Labels: backend, feat

#59 [BE/fix] 구글 로그인 redirect 수정
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/decorator/oauth.decorator.ts
  pnpm-lock.yaml
Labels: backend, bug

#63 [BE/feature] kakao 로그인 구현
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/dto/kakaoLogin.dto.ts
  apps/backend/src/auth/strategies/kakao.strategy.ts
Labels: backend, feat

#64 [feat] 로그아웃 구현
  .github/workflows/deploy.yml
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/decorator/logout.decorator.ts
  apps/backend/src/auth/dto/logout.dto.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/global/utils/jwtAuthGuard.ts
  pnpm-lock.yaml
Labels: backend, feat

#65 [FE/fix] 빌드 에러 수정
  apps/frontend/src/hooks/useLotteryCanvas.ts
  apps/frontend/src/hooks/useLotteryModal.ts
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/utils/getFarmImg.ts
  apps/frontend/tailwind.config.js
Labels: bug, frontend

#67 [FE/fix] 파일명 수정
  apps/frontend/src/constants/LotteryConstants.ts
  apps/frontend/src/constants/ModalConstants.ts
  apps/frontend/src/hooks/UseLotteryCanvas.ts
  apps/frontend/src/hooks/UseLotteryModal.ts
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/types/Alarm.ts
  apps/frontend/src/types/Crop.ts
  apps/frontend/src/types/Index.ts
  apps/frontend/src/types/Rank.ts
  apps/frontend/src/types/Transaction.ts
  apps/frontend/src/utils/GetFarmImg.ts
Labels: bug, frontend

#66 [BE/feature] 매수 매도 기능 DB 동기화
  apps/backend/src/database/database.service.ts
  apps/backend/src/order/dto/baseOrder.dto.ts
  apps/backend/src/order/dto/limitOrder.dto.ts
  apps/backend/src/order/dto/order.dto.ts
  apps/backend/src/order/dto/orderBook.dto.ts
  apps/backend/src/order/enums/orderType.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.module.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
  apps/backend/src/order/utils/dtoTransformer.ts
Labels: backend, feat

#68 [BE/Fix] 파일 충돌 에러, 스웨거 수정
  apps/backend/src/auth/decorator/login.decorator.ts
  apps/backend/src/auth/decorator/logout.decorator.ts
  apps/backend/src/auth/decorator/oauth.decorator.ts
  apps/backend/src/auth/decorator/signUp.decorator.ts
  apps/backend/src/auth/dto/login.dto.ts
  apps/backend/src/auth/dto/logout.dto.ts
  apps/backend/src/auth/dto/signUp.dto.ts
Labels: backend, bug

#69 [BE/fix] 파일 네이밍 이슈 수정
  apps/backend/src/auth/auth.controller.ts
Labels: backend, bug

#71 [BE/fix] 복권 기능 로직 수정
  apps/backend/package.json
  apps/backend/src/lotto/decorator/lotto.decorator.ts
  apps/backend/src/lotto/dto/lotto.dto.ts
  apps/backend/src/lotto/lotto.controller.ts
  apps/backend/src/lotto/lotto.module.ts
  apps/backend/src/lotto/lotto.queries.ts
  apps/backend/src/lotto/lotto.service.ts
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail.service.ts
  pnpm-lock.yaml
Labels: backend, feat

#72 [Be/fix] JWT 타입 방식 수정 및 일부 오탈자 수정
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/global/utils/dataCustomType.ts
  apps/backend/src/global/utils/jwtAuthGuard.ts
  apps/backend/src/global/utils/memberData.ts
  apps/backend/src/global/utils/requestInterface.ts
  apps/backend/src/lotto/lotto.controller.ts
Labels: backend, chore

#74 [FE/feature] 작물 시장 UI
  apps/frontend/package.json
  apps/frontend/src/assets/market/board1.png
  apps/frontend/src/assets/market/board2.png
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/AskingPrice.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/Chart.tsx
  apps/frontend/src/components/CropSelector.tsx
  apps/frontend/src/components/EditNicknameModal.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/LotteryButtons.tsx
  apps/frontend/src/components/LotteryModal.tsx
  apps/frontend/src/components/OwnCrop.tsx
  apps/frontend/src/components/Pending.tsx
  apps/frontend/src/components/SignUpModal.tsx
  apps/frontend/src/components/Trade.tsx
  apps/frontend/src/components/TradeSection.tsx
  apps/frontend/src/components/WoodBoard.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/types/Alarm.ts
  apps/frontend/tailwind.config.js
  pnpm-lock.yaml
Labels: frontend, UI

#76 [BE/feature] 상위 5명 조회 api 작성
  .github/workflows/deploy.yml
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/rank/decorator/top5rank.decorator.ts
  apps/backend/src/rank/dto/top5rank.dto.ts
  apps/backend/src/rank/rank.controller.spec.ts
  apps/backend/src/rank/rank.controller.ts
  apps/backend/src/rank/rank.module.ts
  apps/backend/src/rank/rank.queries.ts
  apps/backend/src/rank/rank.service.spec.ts
  apps/backend/src/rank/rank.service.ts
  pnpm-lock.yaml
Labels: backend, feat

#77 [BE/feature] 회원가입시 로또 컬럼 추가
  apps/backend/src/auth/auth.queries.ts
  apps/backend/src/auth/auth.service.ts
Labels: backend, feat

#78 [Be/feature] 주문 기능 API 작성
  apps/backend/src/global/successhandler.ts
  apps/backend/src/market/dto/cropPrice.dto.ts
  apps/backend/src/market/market.controller.ts
  apps/backend/src/market/market.module.ts
  apps/backend/src/market/market.service.ts
  apps/backend/src/order/dto/orderBook.dto.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.module.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
  apps/backend/src/order/utils/dtoTransformer.ts
Labels: backend, feat

#80 [BE/feature] CORS 처리
  apps/backend/pnpm-lock.yaml
  apps/backend/src/main.ts
Labels: backend, feat

#82 [BE/test] auth.service 테스트 코드 작성
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.spec.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.spec.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/decorator/login.decorator.ts
  apps/backend/src/auth/decorator/logout.decorator.ts
  apps/backend/src/auth/decorator/oauth.decorator.ts
  apps/backend/src/auth/decorator/signUp.decorator.ts
  apps/backend/src/auth/decorator/updateIntroduce.decorator.ts
  apps/backend/src/auth/decorator/updateNickname.decorator.ts
  apps/backend/src/rank/rank.controller.spec.ts
  apps/backend/src/rank/rank.controller.ts
  apps/backend/src/rank/rank.service.spec.ts
  pnpm-lock.yaml
Labels: backend, test

#83 [BE/feature] 계정 잔고 조회 API 추가
  apps/backend/src/account/account.controller.ts
  apps/backend/src/account/account.module.ts
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/decorator/account.decorator.ts
  apps/backend/src/account/dto/accountMoney.dto.ts
  apps/backend/src/account/dto/getCashResponse.dto.ts
  apps/backend/src/app.module.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/order/decorator/getTransactions.decorator.ts
  apps/backend/src/order/decorator/order.decorator.ts
  apps/backend/src/order/dto/response/transactionResponse.dto.ts
  apps/backend/src/order/dto/transaction.dto.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#84 [BE/fix] 로그인 에러
  apps/backend/src/auth/auth.service.ts
Labels: backend, bug

#85 [FE/feature] 로그인, 로그아웃, 회원가입 기능
  apps/frontend/src/App.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/ProtectRoute.tsx
  apps/frontend/src/components/SignUpModal.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/services/.gitkeep
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/vite.config.ts
Labels: frontend, feat

#86 [FE/design] UI/UX 수정
  apps/frontend/src/components/AskingPrice.tsx
  apps/frontend/src/components/OwnCrop.tsx
  apps/frontend/src/components/Pagination.tsx
  apps/frontend/src/components/Profile.tsx
  apps/frontend/src/components/SaveIcon.tsx
  apps/frontend/src/components/TransactionTable.tsx
  apps/frontend/src/components/WoodBoard.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/services/AuthApi.tsx
Labels: frontend, UI

#89 [FE/feat] 상단바 닉네임 정보 연동
  .github/workflows/deploy.yml
  apps/frontend/src/App.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/UserContext.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/tailwind.config.js
Labels: frontend, feat

#88 [BE/feature] 체결 시 계정 현금 잔액 반영
  apps/backend/src/account/account.module.ts
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/dto/accountCash.dto.ts
  apps/backend/src/account/dto/getCashResponse.dto.ts
  apps/backend/src/account/guards/hasSufficientCashGuard.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.module.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#93 [BE/fix] 랭킹 로직 수정
  apps/backend/src/rank/decorator/getRank.decorator.ts
  apps/backend/src/rank/dto/getRank.dto.ts
  apps/backend/src/rank/rank.service.ts
Labels: backend

#94 [BE/fix] oauth 리다이렉트 문제 수정
  .Dockerignore
  Dockerfile
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
Labels: backend, bug

#95 [BE/fix] oauth 토큰 전달 방식 수정
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/auth.service.spec.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/decorator/oauth.decorator.ts
  apps/backend/src/auth/strategies/google.strategy.ts
  pnpm-lock.yaml
Labels: backend

#96 [BE/fix] 소셜 로그인 redirect 이슈 수정
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/auth/strategies/google.strategy.ts
  apps/backend/src/auth/strategies/kakao.strategy.ts
Labels: backend

#97 [BE/fix] 소셜로그인 경로 수정
  apps/backend/src/auth/auth.service.ts
Labels: backend

#98 [BE/fix] 잘못된 변수명 수정
  apps/backend/src/auth/auth.service.ts
Labels: backend, bug

#99 [FE/feature] auth + lotto 기능 완성
  apps/backend/src/main.ts
  apps/frontend/src/App.tsx
  apps/frontend/src/components/EditNicknameModal.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/LotteryTicket.tsx
  apps/frontend/src/components/OauthLogin.tsx
  apps/frontend/src/components/Profile.tsx
  apps/frontend/src/components/UserContext.tsx
  apps/frontend/src/constants/LotteryConstants.ts
  apps/frontend/src/hooks/UseLotteryCanvas.ts
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/services/Api.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/src/services/LotteryApi.tsx
  apps/frontend/src/services/RankApi.tsx
  apps/frontend/src/types/Auth.ts
  apps/frontend/src/types/Index.ts
Labels: frontend, feat

#101 [BE/feature] 시장가 거래 및 검증 로직 추가
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/guards/hasSufficientCashGuard.ts
  apps/backend/src/account/guards/hasSufficientCropGuard.ts
  apps/backend/src/order/dto/marketOrder.dto.ts
  apps/backend/src/order/dto/order.dto.ts
  apps/backend/src/order/dto/orderBook.dto.ts
  apps/backend/src/order/enums/orderType.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
  apps/backend/src/order/utils/dtoTransformer.ts
Labels: backend, feat

#100 [BE/fix] 알림 기능을 Redis Pub Sub 방식으로 변경
  apps/backend/src/mail/mail.controller.ts
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail.service.ts
  apps/backend/src/mail/util/mailRedisUtil.ts
Labels: backend, feat

#102 [BE/fix] 불필요한 코드 제거
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/util/mailCreateUtil.ts
Labels: backend, bug

#103 [BE/feature] 거래소 API에 인증 인가 적용
  apps/backend/src/account/account.controller.ts
  apps/backend/src/order/dto/baseOrder.dto.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/utils/dtoTransformer.ts
Labels: backend, feat

#104 [refactor] auth 모듈 의존성 관계 수정
  apps/backend/src/account/account.module.ts
  apps/backend/src/order/order.module.ts
Labels: backend, bug

#105 [BE/fix] JWTguard 전역화
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/global/utils/jwtAuthGuard.ts
  apps/backend/src/rank/rank.controller.ts
  apps/backend/src/rank/rank.module.ts
Labels: backend, feat

#106 [BE/fix] 변경된 mails 테이블에 맞춰 mailUtil 개발 및 코드 변경
  apps/backend/src/lotto/lotto.controller.ts
  apps/backend/src/lotto/lotto.module.ts
  apps/backend/src/mail/mail.controller.ts
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/mail.queries.ts
  apps/backend/src/mail/mail.service.ts
  apps/backend/src/mail/util/mailCreateUtil.ts
Labels: backend, feat

#107 [BE/fix] 스네이크 케이스를 카멜케이스로 변경
  apps/backend/src/mail/dto/mail.dto.ts
  apps/backend/src/mail/mail.service.ts
Labels: backend, bug

#109 [BE/fix] SSE 연결이 끊기지 않도록 30초 마다 응답 생성
  apps/backend/src/mail/mail.service.ts
Labels: backend, bug

#110 [FE/feat] 알람 기능 추가 및 리팩토링
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/components/AlarmModal.tsx
  apps/frontend/src/components/Alert.tsx
  apps/frontend/src/components/AlertContext.tsx
  apps/frontend/src/components/AskingPrice.tsx
  apps/frontend/src/components/BarModal.tsx
  apps/frontend/src/components/EditNicknameModal.tsx
  apps/frontend/src/components/Header.tsx
  apps/frontend/src/components/LoginModal.tsx
  apps/frontend/src/components/OwnCrop.tsx
  apps/frontend/src/components/Profile.tsx
  apps/frontend/src/components/SignUpModal.tsx
  apps/frontend/src/components/UserContext.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/src/services/HandleError.tsx
  apps/frontend/src/services/LotteryApi.tsx
  apps/frontend/src/services/MailApi.tsx
  apps/frontend/src/services/RankApi.tsx
  apps/frontend/src/types/Alarm.ts
  apps/frontend/src/types/event-source-polyfill.d.ts
Labels: frontend, feat

#111 [Be/feature] 체결 이벤트 알림 전송
  apps/backend/src/mail/mail.module.ts
  apps/backend/src/mail/util/mailCreateUtil.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.module.ts
Labels: backend, feat

#112 [FE/refactor] 컴포넌트 폴더 구조 수정
  apps/frontend/src/App.tsx
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/components/CropMarket/Chart.tsx
  apps/frontend/src/components/CropMarket/CropSelector.tsx
  apps/frontend/src/components/CropMarket/OwnCrop.tsx
  apps/frontend/src/components/CropMarket/Pending.tsx
  apps/frontend/src/components/CropMarket/Trade.tsx
  apps/frontend/src/components/CropMarket/TradeSection.tsx
  apps/frontend/src/components/CropMarket/WoodBoard.tsx
  apps/frontend/src/components/Icons/BackIcon.tsx
  apps/frontend/src/components/Icons/CloseIcon.tsx
  apps/frontend/src/components/Icons/EditIcon.tsx
  apps/frontend/src/components/Icons/SaveIcon.tsx
  apps/frontend/src/components/Intro/IntroTitle.tsx
  apps/frontend/src/components/Intro/LoginModal.tsx
  apps/frontend/src/components/Intro/OauthLogin.tsx
  apps/frontend/src/components/Intro/SignUpModal.tsx
  apps/frontend/src/components/Lottery/LotteryButtons.tsx
  apps/frontend/src/components/Lottery/LotteryIcon.tsx
  apps/frontend/src/components/Lottery/LotteryModal.tsx
  apps/frontend/src/components/Lottery/LotteryTicket.tsx
  apps/frontend/src/components/MyPage/CropList.tsx
  apps/frontend/src/components/MyPage/EditNicknameModal.tsx
  apps/frontend/src/components/MyPage/Pagination.tsx
  apps/frontend/src/components/MyPage/Profile.tsx
  apps/frontend/src/components/MyPage/TransactionTable.tsx
  apps/frontend/src/components/public/AlarmModal.tsx
  apps/frontend/src/components/public/Alert.tsx
  apps/frontend/src/components/public/AlertContext.tsx
  apps/frontend/src/components/public/BarModal.tsx
  apps/frontend/src/components/public/Footer.tsx
  apps/frontend/src/components/public/Header.tsx
  apps/frontend/src/components/public/UserContext.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Intro.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/Main.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/pages/Ranking.tsx
  apps/frontend/src/services/RankApi.tsx
Labels: frontend

#113 [BE/refactor] 클라이언트 전달 데이터 형식 수정
  apps/backend/src/account/account.controller.ts
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/dto/accountCash.dto.ts
  apps/backend/src/account/dto/accountCrop.dto.ts
  apps/backend/src/order/dto/transaction.dto.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.repository.ts
Labels: backend, chore, feat

#115 [Be/feature] 작물 정보 조회 API 수정
  apps/backend/src/account/account.repository.ts
  apps/backend/src/market/market.repository.ts
Labels: backend, feat

#116 [BE/fix] 1위 랭킹 조회 에러 수정
  apps/backend/src/rank/rank.service.ts
Labels: backend, bug

#117 [BE/fix] 복권 확률 랜덤 시드 환경변수로 설정
  apps/backend/src/lotto/lotto.module.ts
  apps/backend/src/lotto/lotto.service.ts
Labels: backend, feat

#119 [BE/fix] 복권 확률 및 당첨 금액 조정, 난수 재현성 조정
  apps/backend/src/lotto/lotto.service.ts
Labels: backend, bug

#120 [Be/feature] 계정 보유 작물 조회 API 추가
  apps/backend/src/account/account.controller.ts
  apps/backend/src/account/account.module.ts
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/decorator/account.decorator.ts
  apps/backend/src/account/dto/getCropByMemberResponse.dto.ts
  apps/backend/src/account/dto/getCropsByMember.dto.ts
  apps/backend/src/account/dto/getCropsByMemberResponse.dto.ts
  apps/backend/src/database/database.service.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/market/market.controller.ts
  apps/backend/src/order/order.module.ts
Labels: backend, feat

#121 [BE/feature] 주문 취소 API 추가
  apps/backend/src/account/account.controller.ts
  apps/backend/src/global/successhandler.ts
  apps/backend/src/order/decorator/order.decorator.ts
  apps/backend/src/order/dto/cancelOrder.dto.ts
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/order.controller.ts
  apps/backend/src/order/order.module.ts
  apps/backend/src/order/order.repository.ts
  apps/backend/src/order/order.service.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#122 [BE/feature] 계정 보유 작물 총 가치 조회 API 추가
  apps/backend/src/account/account.controller.ts
  apps/backend/src/account/decorator/account.decorator.ts
  apps/backend/src/account/dto/response/getCropByMemberResponse.dto.ts
  apps/backend/src/account/dto/response/getCropsByMemberResponse.dto.ts
  apps/backend/src/account/dto/response/memberTotalCropValueResponse.dto.ts
  apps/backend/src/global/successhandler.ts
Labels: backend, feat

#123 [BE/feature] 계정 소개글 작성 API 추가
  apps/backend/src/account/account.controller.ts
  apps/backend/src/account/account.repository.ts
  apps/backend/src/account/account.service.ts
  apps/backend/src/account/decorator/account.decorator.ts
  apps/backend/src/account/dto/response/getMemberIntroduceResponse.dto.ts
  apps/backend/src/global/successhandler.ts
Labels: backend, feat

#125 [BE/fix] 복권 및 알림 기능 코드 리팩토링
  apps/backend/src/lotto/lotto.queries.ts
  apps/backend/src/lotto/lotto.service.ts
  apps/backend/src/mail/dto/mailCheck.dto.ts
  apps/backend/src/mail/mail.service.ts
Labels: backend

#126 [FE/feature] 마이페이지 기능(완료) & 매수/매도 기능(진행중)
  apps/frontend/src/App.tsx
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/components/CropMarket/CropSelector.tsx
  apps/frontend/src/components/CropMarket/Pending.tsx
  apps/frontend/src/components/CropMarket/Trade.tsx
  apps/frontend/src/components/CropMarket/TradeSection.tsx
  apps/frontend/src/components/Lottery/LotteryTicket.tsx
  apps/frontend/src/components/MyPage/CropList.tsx
  apps/frontend/src/components/MyPage/Profile.tsx
  apps/frontend/src/components/MyPage/TransactionTable.tsx
  apps/frontend/src/components/public/Header.tsx
  apps/frontend/src/components/public/UserContext.tsx
  apps/frontend/src/constants/CropConstants.ts
  apps/frontend/src/constants/LotteryConstants.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/pages/Lottery.tsx
  apps/frontend/src/pages/MyPage.tsx
  apps/frontend/src/services/AccountApi.tsx
  apps/frontend/src/services/AuthApi.tsx
  apps/frontend/src/services/MarketApi.tsx
  apps/frontend/src/services/OrderApi.tsx
  apps/frontend/src/types/Crop.ts
  apps/frontend/src/types/Index.ts
  apps/frontend/src/types/Order.ts
  apps/frontend/src/types/Transaction.ts
  apps/frontend/tailwind.config.js
Labels: frontend, feat

#127 [BE/refactor] 가드 oauth 적용
  apps/backend/src/account/guards/hasSufficientCashGuard.ts
  apps/backend/src/account/guards/hasSufficientCropGuard.ts
Labels: backend, feat

#128 [BE/refactor] 체결 시 현재 가격 저장 수정
  apps/backend/src/order/matching.service.ts
Labels: backend

#129 [BE/feature] 웹소켓 기반 데이터 전송 구현
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/websocket/websocket.gateway.ts
  pnpm-lock.yaml
Labels: backend, feat

#130 [feat] 차트 데이터 구현
  apps/backend/src/app.module.ts
  apps/backend/src/websocket/websocket.gateway.ts
  apps/backend/src/websocket/websocket.module.ts
Labels: backend

#131 [Be/feature] 오더북 저장 로직 및 체결 가격 기준 수정
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#132 [FE/feat] 매수/매도 기능 및 호가창, 차트 기능
  apps/frontend/package.json
  apps/frontend/src/components/CropMarket/AskingPrice.tsx
  apps/frontend/src/components/CropMarket/Chart.tsx
  apps/frontend/src/components/CropMarket/Trade.tsx
  apps/frontend/src/components/MyPage/TransactionTable.tsx
  apps/frontend/src/components/public/AlarmModal.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/services/OrderApi.tsx
  apps/frontend/src/types/Order.ts
  pnpm-lock.yaml
Labels: frontend, feat

#133 [Be/feature] 시장가 체결 로직 수정
  apps/backend/src/order/matching.service.ts
  apps/backend/src/order/orderBook.service.ts
Labels: backend, feat

#134 [Be/feature] 구매 로직 및 DB 업데이트 로직 수정
  apps/backend/src/order/matching.service.ts
Labels: backend, feat

#135 [FE/refactor] env 파일 추가
  apps/frontend/src/components/Intro/LoginModal.tsx
  apps/frontend/src/components/public/Header.tsx
  apps/frontend/src/pages/CropMarket.tsx
  apps/frontend/src/services/Api.tsx
Labels: frontend

#136 [FE/fix] vite config 파일 설정 수정
  apps/frontend/vite.config.ts
Labels: frontend

#137 [BE/feat] mongoDB 연결, 복권 긁을 때 마다 로깅
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/lotto/lotto.module.ts
  apps/backend/src/lotto/lotto.service.ts
  apps/backend/src/lotto/model/lotto.schema.ts
  apps/backend/src/lotto/model/util.mongo.ts
  apps/backend/src/mongo/mongo.module.ts
  apps/backend/src/mongo/mongo.service.ts
  pnpm-lock.yaml
Labels: backend, feat
